{% load staticfiles %}
<html>
     <head>
         <title>Ketzerová Eliška, Advokátka</title>
         <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
     </head>
     <body>
        <div id="header">
          <ul>
            <li><a href="/">Čeština</a></li>
            <li><a href="/">English</a></li>
            <li><a href="/">Deutsch</a></li>
          </ul> 
        </div>
      
        <div id="logo">
          <h1><a href="/">Mgr. Eliška Ketzerová, LLM.</a></h1>
          <h2>Advokátka</h2>
        </div>
        
          <div id="menu">
           <ul>
              <li><a href="/">Profil kanceláře</a></li>
              <li class="dropdown">
                <a href="{% url 'services' %}" class="dropbtn">Právní služby</a>
                <div class="dropdown-content">
                    {% for servis in service %}
                         <a href="{% url 'service_detail' title=servis.title %}">{{ servis.title }}</a>
                    {% endfor %}          
                </div>
              </li> 
              <li><a href="{% url 'reward' %}">Odměna</a></li>
              <li style="float:right"><a href="{% url 'kontakt' %}">Kontakty</a></li>
            </ul> 
          </div>
     

           <div id="content">
                   {% block content %}
                   {% endblock %}
           </div>
           
            <div id="footer">
            </div>
      </body>
</html>

  

  
